h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-dark);
}

h1 {
    font-size: var(--font-size-2xl);
}

h2 {
    font-size: var(--font-size-xl);
}

h3 {
    font-size: var(--font-size-lg);
}

.text-orange {
    color: var(--color-orange);
}

.text-sm {
    font-size: var(--font-size-sm);
}

.text-grey {
    color: var(--color-grey-text);
}
